/* body{
  margin: 0;
}
.container-fluid {
  padding-top: 0;
}
.media{
padding: 0;
height: 850px;
width:100%;
background-image: url(../img/landing.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 50px;
}

.overlay{
padding: 0;
margin: auto;
width: 100%;
height: 850px;
background: black;
background:rgba(0,0,0,0.0);
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

.overlayMenu a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #000000;
display: block;
transition: 0.3s;
}

.header{
margin-top: 4%;
text-align: center;
color: white;
font-size: 40px;
font-family: serif;
}
.logo{
margin-top: 4%;
text-align: center;
}

/* @media screen and (max-height: 450px) {
.overlayMenu a {font-size: 20px}
.overlayMenu .closebtn {
font-size: 40px;
top: 15px;
right: 35px;

} */
/*
.centered {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)

}
.landing{
  position: relative;
  text-align: center;
  color: white;
} */
/* .menu{
margin-top: 20px;
margin-left: 20px;
background-color: transparent;
height: 50px;
width: 75px;
} */
/*
.button {
border: none;
color: #F15A29;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
} */
/*
.button1 {
background-color: white;
color: #F15A29;
border: 2px solid #F15A29;
}

font-family: 'Nunito', sans-serif;

.happy{
height: 119px;
width:300px;
} */

/*

.bg-1{
padding: 0;
}
.bg-10{
padding: 0;
}
.bg-00{
background-color:#F15A29;
}

.happy{
height: 119px;
width:300px;
}

.overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
/* } */
/*
.bg-1:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.bg-1:hover .text {
color: #000000;
} */
/*
.text { */
/* color: white;
font-size: 40px;
padding: 16px 32px;
white-space: nowrap;
position: absolute;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
} */
/*
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.span-row-2{grid-row: span 2 / auto;}


.fasts{
margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#text1{
padding: 5%;
text-align: left;
float: left;
}
#text2{
padding: 5%;
text-align: right;
float: right;
}

.media2{
padding: 0;
height: 600px;
width:100%;
background-image: url(../img/foodsBg.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
/* } */
/* .media3{
padding: 0;
height: 300px;
width:100%;
background-image: url(../img/subscribe.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.party{
height: 400px;
width: 80%;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 10%;
margin-right: 10%;
background-color: #ffffff;
} */
/* #burger{
	text-align: center;
	padding: 50px;
}
.partyhead{
height: 50px;
width: 100%;
background-color: #ccc;
}

.bg-10{
padding: 0;
} */


/* .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */
/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body{
  font-family: sans-serif;
  margin: 0px;
  color: white;
}

#parent-menu {
  height: 200px;
}

#happy-hour {
  background-color: lavender;
}

#party-time {
  background-color: coral;
  color: white;
}

#breakfast{
  background-image: url("../img/assets/foodtop/breakfast.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#breakfast:hover{
  background-image: url("../img/assets/foodtop/breakfast.jpg");
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font: black;
}

#lunch{
  background-image: url("../img/assets/foodtop/lunch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#lunch:hover{
  background-image: url("../img/assets/foodtop/dinner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#dinner{
  background-image: url("../img/assets/foodtop/dinner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#dinner:hover{
  background-image: url("../img/assets/foodtop/dinner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
}

#intoduction{
  /* padding: 0; */
  #introduction(
    padding: 0;
}
  background-attachment: fixed;
  background-image: url("../img/assets/backgrounds/landing.jpg");
  background-position: center;
  height: 850px;
  width:100%;
  background-size: cover;
  /* margin-top: 70px; */
}
.heading2{
  color: grey;
}
.heading3{
  color: grey;
}
.fastfoodp{
  color: grey;
}
#fastfood{
  float: left;
  padding: 0

}
.heading4{
  color: grey;
}
.heading5{
  color: grey;
}
.fastfoodd{
  color: grey;
}
#bf{
  color: white;
  font-style: italic;
}
#lu{
  color: white;
  font-style: italic;
}
#di{
  color: white;
  font-style: italic;
}
#btn1:hover{
  color: orange;
  background: white;
  padding: 2px;
  font-size: 14px
  border: 1px solid orange;
}
#btn2:hover{
  color: orange;
  background: white;
  padding: 2px;
  font-size: 14px
}
#jumbo1{
  background-image: url("../img/assets/backgrounds/foodsBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#jumbo2{
  background-color: white;
  box-shadow: 6px 7px 15px 15px grey;
  border-radius: 25px;
}
#h3{
color: orange;
text-align: center;
}
#h4{
  color: grey;
  text-align: center;
}
#p2{
  color: grey;
  text-align: center;
}
#jumbo3{
  background-image: url("../img/assets/backgrounds/subscribe.jpg");
}

#btn3{
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white;
    background-color: orange;
    float: right;
    padding: 0;
  }
#jumbo4{
  background-color: orange;
}
.heading6{
  text-align: center;
}
#footerh3{
  text-align: center;
}
.center {
    display: grid;
    margin-left: auto;
    margin-right: auto;
  }
.lavender{
  background-color: lavender;
}
.card-title{
  color: orange;
}
